.hiddenScrollbar{
    overflow-y: scroll;
}

.hiddenScrollbar::-webkit-scrollbar {
    display: none;
}
.searchInput {
    width:auto;
    height: 50px;
    background: rgba(7, 160, 152, 0.05);
    border-radius: 30px;
    padding: 10.5px 30.62px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
}
.searchInput input{
    /* background: rgba(7, 160, 152, 0.05); */
    outline: none;
}
.searchInput::placeholder {
    color: rgba(0, 30, 47, 0.2);

}

.searchInput:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(0, 30, 47, 0.2);

    font-size: 1.3rem;
}

.searchInput::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(0, 30, 47, 0.2);

    font-size: 1.3rem;
}


.tableHeader {
    border-bottom: 0.5px solid #caceca;
    height: 5rem;
    margin-bottom: 1rem;
}
/* .tableRow {
    height: 7.8rem;
} */
.tableHeader,
.tableRow {
    display: grid;
    justify-content: space-between;
    /* grid-template-columns: 14rem repeat(4, minmax(0, 10rem)) ; */
    align-items: center;
    /* padding: 0 1.6rem; */
    font-size: 12px;
}