.searchInput {
    width: 516px;
    height: 50px;
    background: rgba(7, 160, 152, 0.05);
    border-radius: 30px;
    padding: 10.5px 30.62px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
}
.searchInput input{
    /* background: rgba(7, 160, 152, 0.05); */
    outline: none;
}
.searchInput::placeholder {
    color: rgba(0, 30, 47, 0.2);

}

.searchInput:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(0, 30, 47, 0.2);

    font-size: 1.3rem;
}

.searchInput::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(0, 30, 47, 0.2);

    font-size: 1.3rem;
}