@tailwind base;
@tailwind components;
@tailwind utilities;


/* input,button, */
@layer base {
    html {
        font-size: 62.5%;
        
        
    }

       h1 {
        @apply text-5xl  text-gray-text font-medium;
    }
    
    h2 {
        @apply text-3xl  text-gray-text;
    }
    
    h3 {
        @apply text-2xl text-gray-text  ;
    }
    
    h4 {
        @apply text-xl  ;
    }
    
    h5 {
        @apply text-lg;
    }
    
    h6 {
        @apply text-md;
    }

    
    p {
        @apply text-sm text-gray-text;
    }
    
[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple]{
    @apply text-sm w-full rounded-xs  border-primary-blue h-54 px-20  text-gray-text  focus:ring-primary-darkGreen focus:ring-2 focus:border-0
}

textarea {
    @apply  w-full text-gray-text h-full  resize-none border-none outline-none  focus:ring-0  
     text-lg  leading-10
}

input:disabled{
    @apply  text-other-disabledText bg-other-disabled 
}
input::placeholder{
    color:#8692A6;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
     color:#8692A6;
    font-size: 1.3rem;
}

input::-ms-input-placeholder {
    /* Microsoft Edge */
     color:#8692A6;
    font-size: 1.3rem;
}


.btn{
        @apply bg-primary-darkGreen text-white-white  font-normal rounded  text-center items-center flex justify-center outline-none
    }

    .btn-outline{
        @apply  border-2 border-primary-blue text-primary-darkGreen bg-white-white rounded text-center items-center flex justify-center outline-none
    }
.btn:disabled {
    @apply bg-other-disabled text-gray-faintGray font-normal rounded cursor-not-allowed;
}
.btn-nonActive{
    @apply bg-blue-lightBlue   text-gray-text font-normal rounded text-center flex items-center justify-center outline-none
}
}

