@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

 .ql-editor img,.ql-video{
  max-width: 100px !important;
  max-height: 75px !important;
}

.ql-editor{
  /* border: #F2B544 2px solid; */
  height:100%;
}
.ql-editor p{
  color: #161925 !important;
}
.ql-container.ql-snow{
  border: none !important;
}
.ql-tooltip {
  position: absolute ;
  transform:none !important;
  left: 0px !important;
  top: 0;
  right: 0px !important;
  width: 400px;
}
.ql-toolbar {
  position: fixed;
  bottom: 20px;
  /* left: 70px; */
  z-index: 99999;
  order: 1;
  padding: 0px !important;
 border: none !important;
} 
.quillCont>.quill>.ql-toolbar:first-child {
/* display: none; */
background-color: white;
/* border: 2px solid purple; */
}

.quillCont,.quillShow {
  /* border: rebeccapurple 2px solid; */
  /* height: 150px; */
  /* position: relative !important; */
  /* overflow-y: auto; */
}
#tab-panel{
position: absolute;
top: 0;
left: 50%;
max-width: 300px;
/* border:2px solid purple; */
background-color: white ;
padding: 20px;
}
.ql-formats{
  margin-right: 0px !important;
}
 
.rdw-editor-toolbar,
.rdw-option-wrapper {
  border: none !important;
}
.rdw-editor-main {
  overflow: hidden !important;
}
.bordered-option-classname img{
  /* border: 2px solid red; */
  width: 19.2px;
  height: 19.2px;
}
.public-DraftStyleDefault-block {
  margin:0 !important;
}
.rdw-editor-wrapper{
  height: 100%;
  overflow-y: auto;
}

.rdw-suggestion-dropdown{
  z-index: 99999 !important;
  top: 0 !important;
  max-height: 200px !important;
  /* border: 2px solid; */

}

 .rdw-suggestion-option{
 padding: 4px 0 !important;
 border-bottom: 1px solid #f1f1f1;
 font-size: 12px !important;
 color:#686868 !important ;
 cursor: pointer;
} 


body{
  color: #161925;
}
/* input,button, */
@layer base {
  html {
    font-size: 62.5%;
    
  }

  h1 {
    @apply text-5xl text-gray-text font-medium font-poppins;
  }

  h2 {
    @apply text-3xl  text-gray-text font-poppins;
  }

  h3 {
    @apply text-2xl text-gray-text vp-768:text-xl vp-600:text-lg font-poppins;
  }

  h4 {
    @apply text-xl vp-768:text-lg  vp-600:text-md font-poppins;
  }

  h5 {
    @apply text-lg font-poppins;
  }

  h6 {
    @apply text-md vp-600:text-sm font-poppins;
  }

  p {
    @apply text-sm text-gray-text font-poppins;
  }

  button,
  span,
  div {
    @apply font-poppins;
  }
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple] {
    @apply text-sm w-full rounded-xs  border-primary-blue h-43 px-17  text-gray-text  focus:ring-primary-darkGreen focus:ring-2 focus:border-0 font-poppins font-light;
  }

  textarea {
    @apply w-full text-gray-text h-full  resize-none outline-none  focus:ring-0  
     text-lg  leading-10 font-poppins;
  }

  input:disabled {
    @apply text-other-disabledText bg-other-disabled font-poppins cursor-not-allowed;
  }
  input::placeholder {
    color: #bbbbbb;
  }

  input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bbbbbb;
    font-size: 1.3rem;
  }

  input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #bbbbbb;
    font-size: 1.3rem;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* CHECKBOX */
  .checkbox-container {
    display: flex;
    position: relative;
    align-items: center;
  }

  .checkbox-container label {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
  }

  .checkbox-container input[type="checkbox"]

  {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
  }

  .checkbox-container label::before {
    content: "";
    width: 1.4rem;
    height: 1.4rem;
    display: flex;
    border-radius: 2px;
    border: 1px solid #caceca;
    transition: all 0.3s;
  }

  .checkbox-container input[type="checkbox"]:checked + label span   {
    content: "";
    background-color: #525AF2;
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-container: center;
    pointer-events: none;
    transition: all 0.3s;
  }

  .checkbox-container input[type="checkbox"]:disabled + label span,
   {
    content: "";
    background-color: #caceca;
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-container: center;
    pointer-events: none;
    transition: all 0.3s;
  }

  /* ////////// */
  .btn {
    @apply bg-primary-darkGreen text-white-white  font-normal rounded  text-center items-center flex justify-center outline-none font-poppins;
  }

  .btn-outline {
    @apply border-2 border-primary-blue text-primary-darkGreen bg-white-white rounded text-center items-center flex justify-center outline-none font-poppins;
  }
  .btn:disabled {
    @apply bg-other-disabled text-gray-faintGray font-normal rounded cursor-not-allowed font-poppins;
  }

  .btnPostInspNonActive {
    @apply bg-blue-postInsp text-black-postInsp font-normal rounded text-center flex items-center justify-center outline-none font-poppins;
  }
  .btn-analNonActive {
    @apply bg-blue-inputBlue  text-black-analText font-normal rounded text-center flex items-center justify-center outline-none font-poppins;
  }

  .btn-currentSection {
    @apply text-black-postInsp text-md flex justify-center items-center border-b-2 border-primary-darkGreen outline-none vp-600:text-xs font-medium;
  }
  .btn-notCurrentSection {
    @apply  text-other-disabledText text-md flex justify-center items-center border-b-2 border-other-disabled outline-none vp-600:text-xs;
  }
  .activeChart{
    @apply  text-primary-darkGreen  font-medium border-b-2 cursor-pointer border-primary-darkGreen text-sm pb-10 mb-24 text-center
  }
  .inactiveChart{
    @apply text-gray-faintGray font-normal border-b cursor-pointer border-gray-faintGray text-sm pb-10 mb-24 text-center
  }
}

.notif_header h1{
font-size: 16px;
padding: 0;
margin: 0;
font-weight: 400;
line-height: normal
}
.notif_subHeader p,.notif_subHeader span{
font-size: 12px !important;
color: #161925;
}
.username,a{
  color: #525AF2;
}
.discussion-link{
  color: #525AF2;
  cursor: pointer;
  font-weight: 400;
  text-decoration: underline;
}
.post-title p{
  color: #161925;
}
.post_content p,.post_content span,
.current_post li {
color: #161925;
font-size: 16px !important;
}
.current_post p ,.current_post span,.current_post li{
  color: #161925;
      font-size: 16px !important;
}
.current_post ol {
      list-style-type: decimal;
      padding-left: 16px;
    }
         .current_post ul {
          list-style-type: disc;
              padding-left: 16px;
        } 
/* ///////////////////////////////////////////////// */

.react-calendar {
  width: 100% !important;
  height: auto !important;
  /* background: #ffffff; */
  background: #ffffff !important;
  padding: 0px 38px !important;
  border: none !important;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  /* background-color: rebeccapurple; */
  margin-bottom: 16px !important;
  background-color: transparent;
  font-size: 12px !important;
  transform: translateY(20px);
  color: #2e2e2e !important;
}

.react-calendar__navigation__prev-button {
  order: 1;
}

.react-calendar__navigation__prev-button:hover,
.react-calendar__navigation__next-button:hover {
  background-color: none !important;
}

.react-calendar__navigation__next-button {
  order: 1;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation__label {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #2e2e2e;
}

.react-calendar__month-view__days__day--weekend {
  color: black !important;
}

.react-calendar__tile--active {
  background: #525AF2 !important;
  color: white !important;
}
.react-calendar__tile--active abbr,.react-calendar__tile--rangeEnd abbr,
.react-calendar__tile--rangeStart abbr{
  color: white !important;
}

.react-calendar__tile--rangeEnd,
.react-calendar__tile--rangeStart {
  background: #F2B544 !important;
  color: white !important;

}
.react-calendar__tile--rangeStart{
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.react-calendar__tile--rangeEnd{
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.react-calendar__month-view__days__day {
  color: #2e2e2e !important;
  font-size: 14px !important;
  margin-bottom: 8px !important;
}
/* .react-calendar__tile--now{
  background:rgba(14, 180, 246,0.3) !important ;
  border-radius: 100% ;
height:100%;
border: #525AF2 solid 2px;} */



.react-calendar__month-view__weekdays {
  color: #2e2e2e !important;
  font-size: 14px !important;
  margin-bottom: 16px;
}
.react-calendar__viewContainer {
  color: #2e2e2e !important;
  font-size: 12px !important;
}
abbr {
  text-decoration: none !important;
  text-transform: capitalize;
  font-weight: normal;
}
.react-calendar__tile:disabled {
  color: rgba(112, 112, 112, 0.564) !important;
  cursor: not-allowed;
}
.react-calendar__navigation button:disabled{
  background: none !important;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .ql-toolbar {
      bottom: 30px;}
  .react-calendar {
    padding: 20px 16px !important;
  }
  .react-calendar__month-view__weekdays {
    font-size: 14px !important;
  }
    .notif_header h1 {
      font-size: 14px;
      line-height: normal;
    }
        .discussion-link,.username {
          font-size: 14px;
        }
                .notif_subHeader p,
                             .notif_subHeader span {
                  font-size: 12px !important;
                }
                                .post_content p,
                                .post_content span {
                                                                  font-size: 14px !important;
                                }
}





/* 
 //   const { EmojiBlot, ShortNameEmoji, ToolbarEmoji, TextAreaEmoji } = quillEmoji;

 //   useEffect(() => {
 //     // Quill.register(
 //     //   {
 //     //     "formats/emoji": EmojiBlot,
 //     //     "modules/emoji-shortname": ShortNameEmoji,
 //     //     "modules/emoji-toolbar": ToolbarEmoji,
 //     //     "modules/emoji-textarea": TextAreaEmoji,
 //     //   },
 //     //   true
 //     // );
 //     console.log(Quill);
 //   }, [Quill]);

 
    //   const modules = {
    //     toolbar: [
    //       ["bold", "italic", "underline", "strike"],
    //       [{ list: "ordered" }, { list: "bullet" }],
    //       ["emoji"],
    //       ["link", "image"],
    //     ],
    //     "emoji-toolbar": true,
    //     "emoji-textarea": true,
    //     "emoji-shortname": true,
    //   };
  
    //   const formats = [
    //     "bold",
    //     "italic",
    //     "underline",
    //     "strike",
    //     "blockquote",
    //     "list",
    //     "indent",
    //     "link",
    //     "image",
    //     "emoji",
    //   ]; */