.heading{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    /* line-height: 84px; */
    display: flex;
    align-items: center;
    padding: 0;
    /* margin: 0; */
    color: #2E2E2E;
}
.line{
    background: #E3FDFF;
        border-radius: 100px;
        height: 8px;
        width: 260px;

}

.planButton{
    background: rgba(7, 160, 152, 0.05);
        border: 2px solid #F2FAFF;
        border-radius: 60px;
        width: 164px;
        height: 46px;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #07A098;
        margin-top: 65px;
}
@media (max-width: 768px) {
.heading {
font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;

    /* Pretzl Black */

    
}
}
@media (max-width: 600px) {
.heading {
font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;

    /* Pretzl Black */

    color: #2E2E2E;
}
}