.heading{
    font-style: normal;
font-weight: 700;
    font-size: 52px;
    line-height: 72px;
    display: flex;
    align-items: center;
    padding: 0;
    /* margin: 0; */
    color:#FFFFFF;
}
.subHeading{
    font-size: 48px;
    font-weight: 700;

}
.line{
    background: #E3FDFF;
        border-radius: 100px;
        height: 8px;
        width: 260px;

}

.planButton{
    background: rgba(7, 160, 152, 0.05);
        border: 2px solid #F2FAFF;
        border-radius: 60px;
        width: 164px;
        height: 46px;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #07A098;
        margin-top: 65px;
}

@media (max-width: 768px) {
.heading {
font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 48px;
    display: flex;
    align-items: center;
    
}
.subHeading {
    font-size: 32px;
    font-weight: 500;

}
}
@media (max-width: 600px) {
.heading {
font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;

}
}