.progressBarBlue::-webkit-progress-bar {
    height: 4px;
    border-radius: 17.741px;
    background-color: #F3FAFA;
}

.progressBarBlue::-webkit-progress-value {
    height: 4px;
    border-radius: 17.741px;
    background-color: #0EB4F6;
}
.progressBarGreen::-webkit-progress-bar {
    height: 4px;
    border-radius: 17.741px;
    background-color: #F3FAFA;
}

.progressBarGreen::-webkit-progress-value {
    height: 4px;
    border-radius: 17.741px;
    background-color: #07A098;
}
.progressBarBadge::-webkit-progress-bar {
    height: 2px;
    border-radius: 17.741px;
    background-color: #F3FAFA;
}

.progressBarBadge::-webkit-progress-value {
    height: 2px;
    border-radius: 17.741px;
    background-color: #07A098;
}