.customFileInput {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.customFileInput::-webkit-file-upload-button {
    visibility: hidden;
    cursor: pointer;
}

.fileInputLabel {
    display: block;
    position: relative;
    pointer-events: none;
    font-size: 12px;
    font-weight: 500;
    color: #525AF2;
}

