.dropdown {
    width: 519px;
    bottom:34px;
    left: 5px;
    height: auto;
    max-height: 422px;
    border-radius: 17px;

}

.showValueInsp{
    width:520px;
    height: 444px;
    bottom: 50px;
    right: -500px;
    background-color: #F9F9F9;
    border-radius: 17px;
    opacity: 0.95;
}