.dropdown {
    width: 376px;
    bottom:34px;
    left: 5px;
    height: auto;
    max-height: 422px;
    border-radius: 17px;
padding: 20px;

}

.showValueInsp{
    width:520px;
    height: 444px;
    bottom: 50px;
    right: -500px;
    background-color: #F9F9F9;
    border-radius: 17px;
    opacity: 0.95;
}

@media (max-width: 600px) {
    .dropdown{
        width: 320px;
        left: 0;
        padding: 10px;
    }
}